{% trans_default_domain 'FOSUserBundle' %}



<img src="{{ user.imagePath|imagine_filter('squared_thumbnail_medium') }}">
<h3>Welcome back, {{ user.firstName }}</h3>
{% if user.username %}
    <h4>{{ user.username }}</h4>
{% endif %}
{% if user == app.user %}
<a href="{{ path('fos_user_profile_edit') }}">
    <span class="btn-label"><i class="fa fa-pen"></i></span>Update
</a>
{% endif %}
