body {
    background-color: white;
}

.background-block {
    display: none;
}

.list-admin tr th:first-child {
    width: 76.6%;
}

.list-admin table a {
    color: #fec503;
    text-decoration: none;
}

.list-admin table a:hover {
    color: black;
}

.list-head {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.list-head a {
    height: fit-content;
    background-color: #fec503;
    border-color: #fec503;
    transition: none;
}

.list-head a:hover {
    background-color: black;
    border-color: black;
    color: #fec503;
}

.list-admin-icon {
    display: flex;
    justify-content: center;
}


@media (max-width : 900px) {

    .table td, .table th {
        padding: .5rem;
    }
}

