.project-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding-top: 10px;
}

.project-heading a:first-child {
    width: fit-content;
    align-self: baseline;
    position: absolute;
    top: 10px;
    left: 0;
    color: #999999;
    text-decoration: none;
}

.project-heading h1 {
    text-align: center;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: x-large;
    color: #999999;
}

.edit-icon:hover, .project-heading a:first-child:hover {
    color: #565656;
}

.carousel {
    margin: 30px auto;
}

.carousel-indicators li.active {
    background-color: black;
}

.carousel-control-icon {
    filter: invert(100%);
}

.meta-project {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 35px;
}

.heart {
    width: fit-content;
    margin: auto 25px auto auto;
}

.heart a {
    color: red;
    text-decoration: none;
}

.project-text {
    text-align: justify;
}