* {
    padding:0;
    margin:0;
}

body {
    background:#fff;
    overflow-x:hidden;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    position: initial;
}

.background-block {
    display: none;
}

.transition {
    position:absolute;
    height:100%;
    width:30%;
    background:#d6d6d6;
    transform: skewX(-5deg) translateX(-50px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    top: 50vh;
    left: 50%;
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.cta:hover, .cta:active {
    color: #fec503;
}

.cta {
    outline:none;
    border:none;
    text-decoration:none!important;
    text-transform:uppercase;
    background:#202020;
    color:#eaeaea;
    box-sizing:border-box;
    margin-top:20px;
    padding:10px 40px;
}

.cta:first-child {
    margin-right: 15px;
}

.anim-trans {
    animation: anim 4s ease-in-out;
}

@keyframes anim{
    0% { }
    20%  { z-index:11;\transform: skewX(5deg) translateX(-100%); }
    40%   { transform: skewX(0deg) translateX(0);
        width:100%; z-index:11; box-shadow: none;}
    60%   { transform: skewX(0deg) translateX(0);
        width:100%;z-index:11; box-shadow: none;}
    80%   { transform: skewX(1deg) translateX(-100%);
        width:60%;z-index:11; box-shadow: none;}
    100%   { transform: skewX(-5deg) translateX(-50px);
        width:30%;z-index:1; box-shadow: none;}
}

@media (max-width : 900px) {
    .transition {
        width: 50%;
        left: -5%;
    }
}