* {
    padding:0;
    margin:0;
}

body {
    background:#fff;
    overflow-x:hidden;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    position: initial;
}

.background-block {
    display: none;
}

.transition {
    position:absolute;
    height:100%;
    width:30%;
    background:black;
    transform: skewX(-5deg) translateX(-50px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
    box-shadow: 0px 0px 0px 15px black;
    border-right: 3px solid #fec503;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    top: 50vh;
    left: 50%;
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.cta:hover, .cta:active {
    color: #fec503;
}

.cta {
    outline:none;
    border:none;
    text-decoration:none!important;
    text-transform:uppercase;
    background:black;
    color:#eaeaea;
    box-sizing:border-box;
    margin-top:20px;
    padding:10px 40px;
}


.cta:first-child {
    margin-right: 15px;
}

.anim-trans {
    animation: anim 4s ease-in-out;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes anim{
    0% { }
    20%  { z-index:11;\transform: skewX(5deg) translateX(-100%); }
    40%  { transform: skewX(0deg) translateX(0); width:100%; z-index:11; box-shadow: none; }
    80%  { border: none; }
    100% { transform: skewX(0deg) translateX(0); width:100%;z-index:11; box-shadow: none; border: none; }
}

@media (max-width : 900px) {
    body {
        overflow: hidden;
        position: relative;
    }

    .content-wrap {
        height: 100vh;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .transition {
        width: 30%;
        left: -5%;
    }

    .content {
        width: 95%;
        position: initial;
        padding-left: 25%;
    }

    @keyframes anim{
        0% { }
        20%  { z-index:11;\transform: skewX(5deg) translateX(-100%); }
        40%  { transform: skewX(0deg) translateX(0); width:105%; z-index:11; box-shadow: none; }
        80%  { border: none; }
        100% { transform: skewX(0deg) translateX(0); width:105%;z-index:11; box-shadow: none; border: none; }
    }
}