{% extends 'base.html.twig' %}

{% block body %}
    {% for project in projects %}
        <div>
        {% set firstImage = project.projectImages|first %}
            {% if firstImage %}
            <img src="{{ firstImage.imagePath|imagine_filter('squared_thumbnail_small') }}">
            {% endif %}

            <a href="{{ path('project_show', {slug: project.slug}) }}">
                {{ project.name }}
            </a>
            <img src="{{ project.author.imagePath|imagine_filter('squared_thumbnail_small') }}">
        </div>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

